html, body {
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

html, body, #app, .store-locator, .store-locator > .map, #map {
  height: 100%;
}

.store-locator {
  display: table;
  width: 100%;
}

.store-locator > .location-column, .store-locator > .map {
  display: table-cell;
  vertical-align: top;
}

.store-locator > .location-column {
  width: 40%;
  overflow-y: auto;
  box-sizing: border-box;
}

.location-column > .title {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1.5rem;
  background-color: #774872;
  color: white;
}

.location-column > .currentlocation {
  padding: 1.5rem;
  background-color: #f3f1f3;
  color: #0e0d0b;
  position: relative;
}

.location-column > .currentlocation > .fa-map-marker {
  width: 1.5rem;
}

.location-column > .favourites > .favourite {
  padding: 1.5rem;
  position: relative;
}

.location-column > .favourites > .favourite > .fa-star, .location-column > .currentlocation > .fa-star, .location-column > .favourites > .favourite > .fa-star-o, .location-column > .currentlocation > .fa-star-o  {
  position: absolute;
  right: 1.5rem;
  cursor: pointer;
}

